# Dependencies
node_modules
.pnpm-store

# Next.js build output
.next/
out/
build/
dist/

# Environment files
.env
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System files
.DS_Store
Thumbs.db

# IDE & Editor files
.idea/
.vscode/
*.swp
*.swo

# Turborepo & Vercel
.turbo
.vercel
